.counter {
  margin: 5rem auto;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  width: 40rem;
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
  background-color: rgb(237, 229, 0);
}

.counter h1 {
  text-transform: uppercase;
  color: #0020a0;
  margin: 0;
  font-size: 1rem;
}

.value {
  font-size: 3rem;
  color: #0020a0;
  margin: 2rem 0;
  font-weight: bold;
}

.counter button {
    margin: 1rem;
    background-color: #0020a0;
    color: yellow;
  }